.App {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 150vh;
  flex-direction: column;
  background: rgb(0, 55, 7);
  background: linear-gradient(
    74deg,
    rgba(0, 55, 7, 1) 7%,
    rgba(28, 255, 47, 1) 20%,
    rgba(28, 255, 47, 1) 29%
  );
}

.dropdown-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
