.App {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 150vh;
  flex-direction: column;
  background-color: #2a1b3d;
}

.dropdown-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
