.tracklist-wrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  height: 70vh;
  background: rgb(0, 55, 7);
  background: linear-gradient(
    74deg,
    rgba(0, 55, 7, 1) 7%,
    rgba(227, 255, 28, 1) 29%
  );
  width: 70vh;
  margin: 10px;
  padding: 2px;
  outline: 1px solid black;
  overflow: auto;
}

.track {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid black;
  margin: 2px;
}
.track > div {
  margin-left: 6px;
}

.track:hover {
  background-color: lime;
}
