body {
  color: white;
  font-family: "MuseoModerno", cursive;
}

button {
  padding: 6px;
  background-color: #44318d;
  color: #d83f87;
  border-radius: 25px;
}

button:hover {
  background-color: #d83f87;
  color: #44318d;
}
